pylint
pylint-fail-under
flake8
black
tox
detect-secrets

requests
SQLAlchemy
configparser
mailjet-rest

pandas~=2.3.0
pandera[pandas]~=0.24.0
requests-cache~=1.2.1
psycopg2-binary~=2.9.10
scikit-learn~=1.3.2
matplotlib~=3.7.5
seaborn~=0.13.2
prophet==1.1.6
xgboost~=3.0.2
click~=8.1.7
beautifulsoup4~=4.12.3
python-dotenv
joblib
numpy
setuptools
