pylint
pylint-fail-under
flake8
black
tox
detect-secrets

requests
SQLAlchemy
configparser
mailjet-rest

pandas
pandera[pandas]
requests-cache
psycopg2
psycopg2-binary
scikit-learn
matplotlib~=3.7.5
seaborn
prophet
xgboost
click
beautifulsoup4
python-dotenv
joblib
numpy
setuptools
